/* contact.css */

/* Хедер */


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.header--hidden {
    transform: translateY(-100%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 60px;
    margin-right: 60px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__slash {
    align-self: flex-start;
    margin-top: 0px;
}

.header__top-info {
    display: flex;
    justify-content: flex-end;
    /* выравниваем по правому краю */
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    /* отступ до меню */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B3B3BA;
}

.header__top-item {
    color: #B3B3BA;
    text-decoration: none;
}

.header__top-item b {
    cursor: pointer;
}

.header__top-item:hover {
    color: #F0145A;
}

.header__top-separator {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
}

.header__top-social img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
}

.header__current-menu {
    font-weight: 200;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 2px;
    color: #323264;
    margin-left: 2px;
    font-size: 36px;
    margin-top: -15px;
}

/* --- Языковой переключатель --- */
.header__langs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__lang-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #B3B3BA;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 7px;
    transition: all 0.3s ease;
}

.header__lang-btn:hover {
    background: #F0145A;
    color: #fff;
}

.header__lang-btn--active {
    background: #F0145A;
    color: #fff;
}


.header__menu {
    display: flex;
    gap: 38px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__link {
    position: relative;
    color: #24A3FF;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.3s;
}

.header__link--active {
    color: #F0145A;
}

.header__link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F0145A;
}

.header__link:not(.header__link--active):hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #24A3FF;
}

/* Бургер-меню */
.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.header__burger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #323264;
    border-radius: 1px;
}

/*Блок-Контакты */
.main {
    padding-top: 80px;
}

.contact {
    width: 1920px;
    height: 603px;
    opacity: 1;
    gap: 60px;
    display: flex;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between
}

/*Левая часть*/
.contact {
    width: 100%;
    height: 603px;
    gap: 60px;
    opacity: 1;
    padding-right: 300px;
    padding-left: 300px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact__menu {
    width: 650px;
    height: 301px;
    opacity: 1;
}

.contact__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #323264;
    cursor: pointer;
}

.contact__text:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

.h-line {
    height: 4px;
    width: 100%;
    background: #E6E6F0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.email {
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    color: #24A3FF;
}

.icon-facebook {
    transition: 0.1s ease;
}

a:hover .icon-facebook {
    filter: brightness(0) saturate(100%) invert(27%) sepia(96%) saturate(7492%) hue-rotate(327deg) brightness(97%) contrast(102%);
}

/*Правая часть*/
.feedback {
    width: 650px;
    height: 603px;
    gap: 30px;
    opacity: 1;
    border-radius: 12px;
    padding: 30px;
    background: #F5F5FA;
}

.feedback__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 30px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feedback__input {
    width: 590px;
    gap: 10px;
    opacity: 1;
    border-radius: 8px;
    padding: 15px;
    background: #FFFFFF;
    border-width: 1px;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B3B3BA;
    margin-bottom: 15px;
}

.feedback__input:focus {
    outline: none;
    border: 1px solid #24A3FF;
    box-shadow: 0 0 5px rgba(36, 163, 255, 0.5);
}

.feedback__input__1 {
    width: 590px;
    height: 130px;
    border-radius: 8px;
    padding-left: 15px;
    padding-bottom: 89px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B3B3BA;
    margin-bottom: 30px;
}

.feedback__input__1:focus {
    outline: none;
    border: 1px solid #24A3FF;
    box-shadow: 0 0 5px rgba(36, 163, 255, 0.5);
}

.feedback__text__1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
    margin-bottom: 15px;
}

.feedback__button {
    display: inline-block;
    width: 100%;
    opacity: 1;
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 18px;
    padding-left: 30px;
    border-radius: 12px;
    background: #24A3FF;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 15px;
}

.feedback__button:hover {
    background: #24A3FF;
    box-shadow: 0px 0px 20px 0px #24A3FF80;
}

/* Футер */
.footer {
    background-color: #F5F5FA;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #323264;
    padding: 40px 0;
}

/* Заголовок */
.footer__title {
    text-align: center;
    font-weight: 400;
    color: #323264;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Картинки достижений */
.footer__images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer__image {
    width: 300px;
    /* требуемая ширина */
    height: 110px;
    /* требуемая высота */
    display: block;
    /* чтобы margin/box-sizing работали предсказуемо */
    object-fit: contain;
    /* сохраняет пропорции картинки */
    background: #ffffff;
    /* если нужен белый фон */
    border-radius: 12px;
    /* требуемый радиус */
    opacity: 1;
    /* требуемая непрозрачность */
    transform: rotate(0deg);
    /* угол 0 градусов */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    /* можно удалить, если не нужен */
    box-sizing: border-box;
    /* чтобы размеры считались корректно */
}

/* Пагинация */
.footer__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.footer__dot {
    width: 12px;
    height: 12px;
    background-color: #E6E6F0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer__dot--active {
    background-color: #24A3FF;
}

.footer__dot:hover {
    background-color: #9eccf0;
}

/* Нижняя часть футера */
.footer__bottom {
    border-top: 1px solid #E6E6F0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    gap: 12px;
}

/* Левая часть */
.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Контейнер с адресом и картой */
.footer__address-block {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer__address {
    color: #323264;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.footer__map {
    color: #24A3FF;
    text-decoration: none;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__map:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

/* Контакты */
.footer__contacts {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: baseline;
}

.footer__social img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.footer__social img:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

.footer__phone {
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #46466E;
    cursor: pointer;
}

.footer__phone:hover {
    color: #F0145A;
}

.footer__email {
    color: #24A3FF;
    text-decoration: none;
    font-weight: 600;
}

.footer__email:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

/* Правая часть */
.footer__copyright {
    color: #B3B3B3;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
}


/* Адаптив */


/* ===== BURGER BASE ===== */
.header__burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.header__burger span {
    display: block;
    width: 22px;
    height: 2px;
    background: #24A3FF;
    margin: 3px 0;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

    .header__container {
        align-items: flex-start;
        margin-left: 45px;
    }

    .header__right {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    /* языки + бургер в колонку */
    .header__top-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
    }

    .header__langs {
        display: flex;
        gap: 6px;
    }

    /* скрываем лишнее */
    .header__top-item,
    .header__top-social,
    .header__top-separator {
        display: none;
    }

    /* бургер под EN */
    .header__burger {
        align-items: center;
        margin-top: 6px;
        display: block;
    }

    /* меню */
    .header__nav {
        position: fixed;
        inset: 0;
        background: #fff;
        padding: 80px 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 30;
    }

    .header__nav.active {
        transform: translateX(0);
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header__link {
        font-size: 22px;
    }

    .header__current-menu {
        font-size: 18px;
    }
}

/* ===== АДАПТИВ ФУТЕРА ===== */

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__left {
        align-items: center;
    }

    .footer__copyright {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer__left {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .footer__address-block {
        flex-direction: column;
        gap: 5px;
    }

    .footer__contacts {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .footer__copyright {
        text-align: center;
        margin-top: 10px;
    }

    .footer__images {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        gap: 15px;
    }

    .footer__image {
        width: 180px;
        height: 70px;
    }
}

/* ===== АДАПТИВ BODY ===== */
@media (max-width: 768px) {

    .contact {
        flex-direction: column;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        gap: 30px;
    }

    /* Левая часть */
    .contact__menu {
        width: 100%;
        height: auto;
    }

    .contact__text,
    .email {
        font-size: 18px;
        line-height: 26px;
    }

    /* Правая часть (форма) */
    .feedback {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .feedback__text {
        font-size: 22px;
        text-align: center;
    }

    .feedback__input,
    .feedback__input__1 {
        width: 100%;
    }

    .feedback__input__1 {
        padding-bottom: 15px;
        height: 120px;
    }
}

@media (max-width: 480px) {

    .feedback__text {
        font-size: 20px;
    }

    .feedback__button {
        font-size: 14px;
        padding: 14px;
    }
}