/*team-entry-page.css*/

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    padding: 100px 0px 0px;
}

/*Хедер*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.header--hidden {
    transform: translateY(-100%);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-left: 60px;
    margin-right: 60px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__slash {
    align-self: flex-start;
    margin-top: 0px;
}

.header__top-info {
    display: flex;
    justify-content: flex-end;
    /* выравниваем по правому краю */
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    /* отступ до меню */
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #B3B3BA;
}

.header__top-item {
    color: #B3B3BA;
    text-decoration: none;
}

.header__top-item b {
    cursor: pointer;
}

.header__top-item:hover {
    color: #F0145A;
}

.header__top-separator {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #E6E6F0;
    border-radius: 50%;
}

.header__top-social img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
}

.header__current-menu {
    font-weight: 200;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 2px;
    color: #323264;
    margin-left: 2px;
    font-size: 36px;
    margin-top: -15px;
}

/* --- Языковой переключатель --- */
.header__langs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__lang-btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #B3B3BA;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 7px;
    transition: all 0.3s ease;
}

.header__lang-btn:hover {
    background: #F0145A;
    color: #fff;
}

.header__lang-btn--active {
    background: #F0145A;
    color: #fff;
}


.header__menu {
    display: flex;
    gap: 38px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__link {
    position: relative;
    color: #24A3FF;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 4px;
    transition: color 0.3s;
}

.header__link--active {
    color: #F0145A;
}

.header__link--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F0145A;
}

.header__link:not(.header__link--active):hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #24A3FF;
}

/* Бургер-меню */
.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;
}

.header__burger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #323264;
    border-radius: 1px;
}

/* ===== END ХЕДЕР ===== */

/* ===== МAIN ===== */
.publications-page {
    display: flex;
    gap: 30px;
    opacity: 1;
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 32px;
    padding-left: 60px;
    background-color: #F5F5FA;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.publications-btn {
    width: 233px;
    height: 42px;
    gap: 2px;
    display: flex;
    opacity: 1;
    border-radius: 12px;
    padding: 2px;
    background-color: #E6E6F0;
    justify-content: space-around;
    margin: auto;
}

.publications-btn--news {
    padding-top: 9.5px;
    padding-right: 30px;
    padding-bottom: 9.5px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #323264;
    text-decoration: none;
}

.publications-btn--news:active {
    background-color: #FFFFFF;
}

.publications-btn--news:hover {
    background-color: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.publications-btn--articles {
    padding-top: 9.5px;
    padding-right: 30px;
    padding-bottom: 9.5px;
    padding-left: 30px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #323264;
    text-decoration: none;
}

.publications-btn--articles:active {
    background-color: #FFFFFF;
}

.publications-btn--articles:hover {
    background-color: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.publications-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.publication-item {
    display: flex;
    flex-direction: column;
    opacity: 1;
    border-radius: 8px;
    background-color: #FFFFFF;
    transition: fill 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.publication-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.publication-item__image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.publication-item__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #24A3FF;
    margin: 30px 30px 15px 30px;
    text-decoration: none;
}

.publication-item__title:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

.publication-item__date {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    color: #B3B3BA;
    margin: 0px 30px 15px 30px;
}

.h-line {
    width: calc(100% - 60px);
    height: 4px;
    background-color: #E6E6F0;
    margin: 0px 30px 15px 30px;
}

.publication-item__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin: 0px 30px 30px 30px;
}

.publication-btn {
    opacity: 1;
    padding-top: 18px;
    padding-right: 35px;
    padding-bottom: 18px;
    padding-left: 35px;
    border-radius: 12px;
    text-align: center;
    background-color: #24A3FF;
    margin: auto;
    box-shadow: 0px 0px 20px 0px #24A3FF80;
    transition: fill 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.publication-btn:hover {
    transform: translateY(-5px);
}

.publication-btn--more {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* ===== ФУТЕР ===== */
.footer {
    background-color: #F5F5FA;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #323264;
    padding: 40px 0;
}

/* Заголовок */
.footer__title {
    text-align: center;
    font-weight: 400;
    color: #323264;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* Картинки достижений */
.footer__images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    overflow: hidden;
}

.footer__image {
    width: 300px;
    height: 110px;
    display: block;
    object-fit: contain;
    background: #ffffff;
    border-radius: 12px;
    opacity: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    transform: translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* когда показываем */
.footer__image.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* уезжают влево */
.footer__image.slide-out {
    transform: translateX(-50px);
    opacity: 0;
}

/* заезжают справа */
.footer__image.slide-in {
    transform: translateX(0);
    opacity: 1;
}

/* Пагинация */
.footer__pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.footer__dot {
    width: 12px;
    height: 12px;
    background-color: #E6E6F0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer__dot--active {
    background-color: #24A3FF;
}

.footer__dot:hover {
    background-color: #9eccf0;
}

/* Нижняя часть футера */
.footer__bottom {
    border-top: 1px solid #E6E6F0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
    gap: 12px;
}

/* Левая часть */
.footer__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Контейнер с адресом и картой */
.footer__address-block {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.footer__address {
    color: #323264;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.footer__map {
    color: #24A3FF;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer__map:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

/* Контакты */
.footer__contacts {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: baseline;
}

.footer__social img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.footer__social img:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

.footer__phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
    color: #46466E;
    cursor: pointer;
    text-decoration: none;
}

.footer__phone:hover {
    color: #F0145A;
}

.footer__email {
    color: #24A3FF;
    text-decoration: none;
    font-weight: 600;
}

.footer__email:hover {
    color: #F0145A;
    transition: color 0.3s ease;
}

/* Правая часть */
.footer__copyright {
    color: #B3B3B3;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: right;
}




/* Адаптив */


/* ===== BURGER BASE ===== */
.header__burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.header__burger span {
    display: block;
    width: 22px;
    height: 2px;
    background: #24A3FF;
    margin: 3px 0;
}

/* ===== END BURGER BASE ===== */

/*===== AДАПТИВ ХЕДЕРА =====*/
@media (max-width: 768px) {

    .header__container {
        align-items: flex-start;
        margin-left: 30px;
    }

    .header__right {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }

    /* языки + бургер в колонку */
    .header__top-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 6px;
    }

    .header__langs {
        display: flex;
        gap: 6px;
    }

    /* скрываем лишнее */
    .header__top-item,
    .header__top-social,
    .header__top-separator {
        display: none;
    }

    /* бургер под EN */
    .header__burger {
        align-items: center;
        margin-top: 6px;
        display: block;
    }

    /* меню */
    .header__nav {
        position: fixed;
        inset: 0;
        background: #fff;
        padding: 80px 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 30;
    }

    .header__nav.active {
        transform: translateX(0);
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header__link {
        font-size: 22px;
    }

    .header__current-menu {
        font-size: 18px;
    }
}

/* ===== END АДАПТИВ ХЕДЕРА ===== */


/* ===== АДАПТИВ MAIN ===== */
/* ===== MOBILE (по умолчанию) ===== */
@media (max-width: 767px) {

    .publications-page {
        padding: 20px 15px;
        gap: 20px;
    }

    .publications-content {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .publication-item__image {
        height: 180px;
    }

    .publication-item__title {
        font-size: 14px;
        margin: 20px 20px 10px;
    }

    .publication-item__date {
        margin: 0 20px 10px;
    }

    .h-line {
        width: calc(100% - 40px);
        margin: 0 20px 10px;
    }

    .publication-item__description {
        margin: 0 20px 20px;
        font-size: 13px;
    }

    .publications-btn {
        width: 100%;
        max-width: 260px;
    }

    .publication-btn {
        width: 100%;
        max-width: 260px;
    }
}

/* ===== END АДАПТИВ MAIN ===== */



/* ===== АДАПТИВ ФУТЕРА ===== */

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer__left {
        align-items: center;
    }

    .footer__copyright {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .footer__bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer__left {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .footer__address-block {
        flex-direction: column;
        gap: 5px;
    }

    .footer__contacts {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .footer__copyright {
        text-align: center;
        margin-top: 10px;
    }

    .footer__images {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        gap: 15px;
    }

    .footer__image {
        width: 180px;
        height: 70px;
    }
}

/* ===== END АДАПТИВ ФУТЕРА ===== */